<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Pick me up</title>
	<link rel="stylesheet" href="/style.css">
	<script src="/jquery-1.11.3.min.js"></script>
	<link rel="shortcut icon" href="https://avoluptuousmind.files.wordpress.com/2014/12/persons-0122_large.png">

</head>
	<div class="wrapper">
		<div class="header clearfix">
			<!-- Logo -->
			<a href="/" class="logo">emergency compliment </a> <!--logo-->
			<!-- Menu -->
    	<!-- <a href="#">...</a> -->
    	<div class="main_navigation"><img src="/menu.svg">
	    	<ul class ="menu" href="#">
	    		<li><a href="#">home</a></li>
	        <li><a class="twitter" href="https://twitter.com/emergencycompli">twitter</a></li>
	    	</ul>
    		
    	</div>

		</div> <!-- header clearfix	 -->		
	</div> <!-- div wrapper -->

	<div class="compliment">
		<h1><%= yield %> 
		<!--ruby delimiters--></h1>
	</div> <!--compliment div-->
	
	<div class = "case" >
		<a href="http://ruby-doc.org/" class = "button leave" >I'm ready to soldier on. How was this site made?</a>
		<a href="/" class = "button meh" >I'm still emotionally vacant. give me another compliment.</a>
	</div>	<!-- Links for another compliment or link to Ruby Docs -->

	<!-- Footer -->
	<footer>© 2016 Nicolai Robles | A WDI Project</footer>

  <script src="/compliments.js"></script>

</html>